/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0

&mt {
    tapping-term-ms = <400>;
};

/ {

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | RSE/ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I   |  O  |  P  | "|"  |
// | SHFT/TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K   |  L  |  ;  |  '   |
// | CTRL     |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,   |  .  |  /  |  -   |
//                        | GUI | LWR | SPC |   | ENT | LWR  | BKSP |
                        bindings = <
   &kp ESC &kp Q    &kp W     &kp E      &kp R      &kp T      &kp Y     &kp U     &kp I     &kp O   &kp P    &kp PIPE
   &mt LSHFT TAB &kp A    &kp S     &kp D      &kp F      &kp G      &kp H     &kp J     &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL     &kp Z    &kp X     &kp C      &kp V      &kp B      &kp N     &kp M     &kp COMMA &kp DOT &kp FSLH &kp MINUS
                                    &kp LGUI   &trans  &kp SPACE  &kp RET   &trans &kp BSPC
                        >;

                };
        };
};
